/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 2rem;
  --normal-font-size: 1rem;
  --small-font-size: .813rem;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

a {
  text-decoration: none;
}

.btn-secondary2 {
    background: linear-gradient(60deg, #161220, #41212c, #6f3544, #96495b, #a55361, #b76e65, #bf8464, #c29264);
    border: 2px solid White;
    padding: 10px 20px;
    text-align: center;
    color: white;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== LOGIN ===============*/
.login {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
}

.login__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.login__form {
  position: relative;
  margin-inline: 1.5rem;
  background-color: hsla(0, 0%, 100%, .01);
  border: 2px solid hsla(0, 0%, 100%, .7);
  padding: 0rem 0rem;
  color: var(--white-color);
  border-radius: 1rem;
  backdrop-filter: blur(16px);
  font-size: 2rem;
    color: #421139;
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
    line-height: 1.6;
}

.login__title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 1.25rem;
}

.login__inputs, 
.login__box {
  display: grid;
}

.login__inputs {
  row-gap: 1.25rem;
  margin-bottom: 1rem;
}

.login__box {
  grid-template-columns: 1fr max-content;
  column-gap: .75rem;
  align-items: center;
  border: 2px solid hsla(0, 0%, 100%, .7);
  padding-inline: 1.25rem;
  border-radius: 4rem;
}

.login__input, 
.login__button {
  border: none;
  outline: none;
}

.login__input {
  width: 100%;
  background: none;
  color: var(--white-color);
  padding-block: 1rem;
}

.login__input::placeholder {
  color: var(--white-color);
}

.login__box i {
  font-size: 1.25rem;
}

.login__check, 
.login__check-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mdi--microsoft-office {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M19.94 5.59v12.8q0 .67-.39 1.2q-.39.52-1.05.7l-5.73 1.65q-.12.03-.27.06h-.22q-.33 0-.6-.09t-.55-.24l-3.75-2.12q-.21-.12-.33-.31t-.12-.43q0-.36.26-.61q.25-.25.61-.25h4.86V6.14L9 7.44q-.43.16-.7.56q-.27.38-.27.85v6.73q0 .42-.21.76q-.2.34-.57.54l-1.72.94q-.24.13-.48.13q-.41 0-.7-.29t-.29-.71V7.47q0-.52.27-.97q.28-.5.73-.76l6.16-3.5q.21-.12.45-.18t.48-.06q.17 0 .31.03q.14.02.31.07l5.73 1.59q.33.09.59.27t.45.43q.2.26.3.56q.1.31.1.64m-1.32 12.8V5.59q0-.23-.12-.4q-.15-.19-.37-.23l-2.82-.78Q15 4.09 14.65 4q-.33-.11-.65-.19v16.4L18.13 19q.22-.04.37-.21q.12-.17.12-.4'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.mage--photoshop {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M10.45 10.48a1.3 1.3 0 0 1-1 1.33a4.8 4.8 0 0 1-1.61.19c-.14 0-.15-.09-.15-.19V9.26c0-.07.07-.19.11-.19a4.9 4.9 0 0 1 1.71.11a1.28 1.28 0 0 1 .94 1.3'/%3E%3Cpath fill='%23000' d='M17 2H7a5 5 0 0 0-5 5v10a5 5 0 0 0 5 5h10a5 5 0 0 0 5-5V7a5 5 0 0 0-5-5m-6 11a3.5 3.5 0 0 1-1.68.54H7.98c-.28 0-.28 0-.28.27v2.32c0 .2-.06.26-.26.26H6.12c-.19 0-.24-.07-.24-.25V7.71c0-.2 0-.26.25-.26h3.13a3.34 3.34 0 0 1 1.62.47a2.75 2.75 0 0 1 1.4 2.39A2.83 2.83 0 0 1 11 13m5.92 3.3a4.6 4.6 0 0 1-2.73.19q-.409-.09-.8-.24a.29.29 0 0 1-.16-.2v-1.51c.32.12.62.26.93.36a3.66 3.66 0 0 0 1.61.14q.162-.03.31-.1a.37.37 0 0 0 .08-.63a4 4 0 0 0-.73-.4c-.41-.2-.83-.36-1.22-.59a1.82 1.82 0 0 1-1-1.93a2 2 0 0 1 1.36-1.63a4.2 4.2 0 0 1 2-.17c.32 0 .63.12.95.18c.17 0 .23.14.22.31v1.17c0 .22-.05.24-.25.16a3.87 3.87 0 0 0-2-.34a.9.9 0 0 0-.28.08a.37.37 0 0 0-.1.63q.434.289.91.5c.38.19.78.34 1.15.55a1.73 1.73 0 0 1 1 1.79a1.92 1.92 0 0 1-1.26 1.64z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.game-icons--usb-key {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='m394.8 30.88l-65 65.03l86.3 86.29l65.1-65zm-6.3 36.04l17 17l-12.8 12.72l-17-17zm-82.8 30.4l-11.3 11.28l109 108.9l11.3-11.2zM263.3 103L23.4 342.9v60.5l85.2 85.2h60.5l240-239.9zm164.9 3.6l16.9 17l-12.8 12.6l-16.9-17z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.arcticons--foxit-pdf {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M21.254 33.426H23.1c3.16-.31 6.285-1.441 8.458-3.617c2.023-2.019 3.699-5.008 3.92-8.071c.212-2.893-.619-4.385-1.997-5.845c-.18 1.491.017 2.887-.462 4.076c-.84-1.11-1.14-2.758-2.386-3.464c.049 4.34-2.396 7.536-6.996 6.231c.862 2.291 2.947 3.356 6.228 3.228c.156.178-.148.38-.23.462c-1.163 1.171-2.95 2.08-5.153 2.08c-4.116 0-6.798-2.851-6.841-6.921c-.06-5.355 4.841-9.614 9.841-9.921c2.686-.165 5.137 1.29 6.305 2.921c-.55-3.908-3.659-5.26-6.843-6.537c6.685-.3 9.665 3.1 11.687 7.46c-.93-6.147-4.353-10.464-11.152-10.996c-.717 0-8.23-.534-13.533 5.536c-2.654 3.04-4.915 7.013-4.535 12.302c.448 6.243 4.997 10.775 11.843 11.075zM15.03 43.5v-6.435h2.107c1.19 0 2.156.968 2.156 2.161s-.965 2.161-2.156 2.161H15.03m7.154 2.113v-6.435h1.448a2.815 2.815 0 0 1 2.815 2.816v.804a2.815 2.815 0 0 1-2.815 2.815zm7.274-3.217h2.091M29.458 43.5v-6.435h3.218'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.solar--winrar-bold {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M17.848 3.235C18 3.602 18 4.068 18 5v14c0 .932 0 1.398-.152 1.765a2 2 0 0 1-1.083 1.083C16.398 22 15.932 22 15 22s-1.398 0-1.765-.152a2 2 0 0 1-1.083-1.083C12 20.398 12 19.932 12 19V5c0-.932 0-1.398.152-1.765a2 2 0 0 1 1.083-1.083C13.602 2 14.068 2 15 2s1.398 0 1.765.152a2 2 0 0 1 1.083 1.083M15.75 11a.75.75 0 0 0-1.5 0v2a.75.75 0 0 0 1.5 0z' clip-rule='evenodd'/%3E%3Cpath fill='%23000' d='M10.65 21a4 4 0 0 1-.127-.804c-.023-.33-.023-.724-.023-1.152V4.956c0-.428 0-.822.023-1.152c.017-.254.05-.525.127-.804H5c-.932 0-1.398 0-1.765.152a2 2 0 0 0-1.083 1.083C2 4.602 2 5.068 2 6s0 1.398.152 1.765a2 2 0 0 0 1.083 1.083C3.602 9 4.068 9 5 9c-.932 0-1.398 0-1.765.152a2 2 0 0 0-1.083 1.083C2 10.602 2 11.068 2 12s0 1.398.152 1.765a2 2 0 0 0 1.083 1.083C3.602 15 4.068 15 5 15c-.932 0-1.398 0-1.765.152a2 2 0 0 0-1.083 1.083C2 16.602 2 17.068 2 18s0 1.398.152 1.765a2 2 0 0 0 1.083 1.083C3.602 21 4.068 21 5 21zm8.7 0c.705-.003 1.097-.02 1.415-.152a2 2 0 0 0 1.083-1.083C22 19.398 22 18.932 22 18s0-1.398-.152-1.765a2 2 0 0 0-1.083-1.083c-.295-.122-.653-.146-1.265-.15v4.042c0 .428 0 .822-.023 1.152c-.017.254-.05.525-.127.804m.15-6.001c.612-.005.97-.029 1.265-.151a2 2 0 0 0 1.083-1.083C22 13.398 22 12.932 22 12s0-1.398-.152-1.765a2 2 0 0 0-1.083-1.083c-.295-.122-.653-.146-1.265-.15zm0-6c.612-.005.97-.029 1.265-.151a2 2 0 0 0 1.083-1.083C22 7.398 22 6.932 22 6s0-1.398-.152-1.765a2 2 0 0 0-1.083-1.083c-.318-.132-.71-.15-1.415-.152c.077.28.11.55.127.804c.023.33.023.724.023 1.152z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.devicon-plain--sqldeveloper {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%23000' d='M51.395 7.758c-27.396 0-49.604 3.824-49.647 8.54l-.002-.009v27.293c0 4.723 22.227 8.535 49.649 8.535c27.42 0 49.648-3.836 49.648-8.535V16.289l-.002.01c-.043-4.717-22.255-8.541-49.646-8.541m-17.268 16.57q2.084.135 4.25.236c-.574-.026-1.18-.04-1.746-.07c-.86-.046-1.665-.112-2.504-.166m20.453.516c-1.064.012-2.104.037-3.185.037v-.002c-.654 0-1.275-.021-1.922-.025c.642.004 1.273.017 1.922.017c1.075 0 2.127-.016 3.185-.027M1.746 50.562v23.77c0 4.727 22.227 8.535 49.649 8.535c6.502 0 12.672-.228 18.357-.62c4.322-10.913 14.962-18.634 27.412-18.634c1.316 0 2.609.095 3.879.262V50.562c0 4.727-22.228 8.536-49.648 8.536c-27.422 0-49.649-3.833-49.649-8.535zM97.164 67.25c-10.278 0-19.151 5.999-23.314 14.686a26 26 0 0 0-.805 1.884c-.2.522-.392 1.05-.559 1.586v.002a26 26 0 0 0-.447 1.647q-.043.186-.084.373a26 26 0 0 0-.324 1.676a26 26 0 0 0-.307 3.986c0 9.287 4.9 17.426 12.254 21.98q.728.45 1.484.852l.092.047q.681.357 1.385.674l.229.103q1.503.662 3.1 1.133a26 26 0 0 0 1.654.426l.277.064q.805.17 1.629.29l.232.028q.713.097 1.438.153l.375.03c.56.035 1.122.06 1.691.06a25.8 25.8 0 0 0 14.447-4.412a26 26 0 0 0 3.825-3.157a25.94 25.94 0 0 0 6.406-10.586a25.7 25.7 0 0 0 1.03-5.043a26 26 0 0 0 .03-4.877c-.007-.081-.011-.164-.02-.246a26 26 0 0 0-.347-2.41a26 26 0 0 0-.447-1.928q-.055-.196-.113-.392a26 26 0 0 0-.621-1.881l-.108-.271a26 26 0 0 0-.816-1.89q-.036-.067-.07-.136a26 26 0 0 0-.989-1.824l-.057-.096a26 26 0 0 0-1.148-1.736l-.133-.19a26 26 0 0 0-1.234-1.554q-.116-.135-.235-.268q-.645-.737-1.345-1.422l-.213-.2a26 26 0 0 0-1.516-1.347l-.123-.097a26 26 0 0 0-1.664-1.238q-.04-.03-.08-.057l-.012-.008a26 26 0 0 0-1.75-1.076l-.222-.129a26 26 0 0 0-2.094-1.031q-.9-.397-1.836-.725q-.173-.06-.348-.117a26 26 0 0 0-1.914-.563c-.102-.025-.207-.045-.31-.07a26 26 0 0 0-2.084-.412l-.01-.002a26 26 0 0 0-3.879-.289m-9.102 10.914l24.028 13.871l-24.028 13.871zM1.746 81.316v27.29c0 4.726 22.227 8.535 49.649 8.535c9.98 0 19.136-.536 26.89-1.412c-6.478-5.408-10.601-13.541-10.601-22.64a30 30 0 0 1 .244-3.74a272 272 0 0 1-16.533.499c-27.422 0-49.649-3.832-49.649-8.532'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.carbon--ibm-watson-discovery {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='M6 17h8v2H6z'/%3E%3Ccircle cx='3' cy='18' r='1' fill='%23000'/%3E%3Ccircle cx='13' cy='14' r='1' fill='%23000'/%3E%3Cpath fill='%23000' d='M2 13h8v2H2zm4-4h8v2H6z'/%3E%3Ccircle cx='3' cy='10' r='1' fill='%23000'/%3E%3Cpath fill='%23000' d='m30 28.6l-7.4-7.4c1.5-2 2.4-4.5 2.4-7.2c0-6.6-5.4-12-12-12c-3.3 0-6.4 1.3-8.7 3.8l1.5 1.4C7.6 5.1 10.2 4 13 4c5.5 0 10 4.5 10 10s-4.5 10-10 10c-3 0-5.8-1.3-7.7-3.6l-1.5 1.3C6 24.4 9.4 26 13 26c3.2 0 6.1-1.3 8.3-3.3l7.3 7.3z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.arcticons--yandex-start {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='m31.619 12.5l-5.216 9.873M24 35.5V26l-7.619-13.5'/%3E%3Ccircle cx='24' cy='24' r='21.5' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.devicon--windows11-wordmark {
  display: inline-block;
  width: 70%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%230078d4' d='M128 92.399v19.015h-3.176V96.246s-1.09 1.006-3.885 1.735v-2.707c4.155-1.536 5.646-2.875 5.646-2.875zm-9.378 0v19.015h-3.176V96.246s-1.09 1.006-3.884 1.735v-2.707c4.154-1.536 5.645-2.875 5.645-2.875zm-12.217 15.308c0 2.965-2.688 4.12-5.383 4.12c-1.755 0-3.502-.676-3.502-.676v-3.153s1.519 1.323 3.64 1.34c1.455 0 2.11-.459 2.11-1.332c.037-.7-.39-1.087-.9-1.377q-.525-.315-1.643-.775q-1.315-.566-1.959-1.091a3.4 3.4 0 0 1-.946-1.236a4 4 0 0 1-.35-1.624c0-2.394 1.996-4.085 5.187-4.085c2.11 0 3.023.517 3.023.517v2.995s-1.499-1.036-3.056-1.045c-1.116 0-1.96.406-1.975 1.326c-.008 1.185 1.444 1.763 2.31 2.113c1.262.508 2.186 1.051 2.703 1.673s.741 1.249.741 2.31m-13.56 3.707H89.42l-2.619-9.637l-2.81 9.636h-3.324L76.793 98.14h3.25l2.53 10.312L85.53 98.14h3.05l2.635 10.285l2.466-10.285h2.98zm-16.66-6.717c0 4.612-2.757 7.11-6.897 7.11c-4.501 0-6.808-2.694-6.808-6.82c0-4.722 2.764-7.178 7.137-7.178c4.006 0 6.567 2.561 6.567 6.888zm-3.234.105c0-2.052-.728-4.333-3.505-4.333c-2.664 0-3.699 1.983-3.699 4.412c0 2.64 1.243 4.318 3.68 4.318c2.61 0 3.505-2.003 3.524-4.397m-15.808 6.612v-1.715h-.053c-.964 1.622-2.931 1.995-4.303 1.995c-4.077 0-5.573-3.167-5.573-6.537q0-3.352 1.669-5.363c1.122-1.35 2.62-1.934 4.495-1.934c2.92 0 3.712 1.624 3.712 1.624h.053V91.78h3.15v19.635zm.026-7.588c0-1.608-1.034-3.436-3.215-3.436c-2.496 0-3.466 2.172-3.466 4.675c0 2.185.916 4.169 3.292 4.202c2.33 0 3.37-2.221 3.39-4.057zm-15.274 7.588V104c0-1.942-.603-3.618-2.56-3.618c-1.946 0-3.18 1.753-3.18 3.526v7.505h-3.037V98.098h3.037v1.884h.052c1.008-1.56 2.463-2.108 4.364-2.108c1.429 0 2.533.351 3.313 1.263c.788.91 1.135 2.295 1.135 4.153v8.123zM30.308 94.289q0 .748-.552 1.248q-.54.5-1.314.5q-.776 0-1.315-.5a1.63 1.63 0 0 1-.539-1.248q0-.763.54-1.275a1.87 1.87 0 0 1 1.314-.513q.802 0 1.327.526q.54.525.539 1.262m-3.465 17.124V98.098h3.105v13.315zm-6.454 0h-3.83l-3.734-14.215l-3.775 14.215H5.135L.001 92.937h3.473l3.703 14.697l4.042-14.697h3.509l3.8 14.784l3.516-14.784h3.354zM65.56 47.731H94v28.44H65.56zm-31.559 0h28.44v28.44H34zm31.56-31.56h28.438v28.438H65.56zm-31.56 0h28.44v28.438H34z'/%3E%3C/svg%3E");
}
.devicon--windows8 {
  display: inline-block;
  width: 60%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%2300adef' d='m126 1.637l-67 9.834v49.831l67-.534zM1.647 66.709l.003 42.404l50.791 6.983l-.04-49.057zm56.82.68l.094 49.465l67.376 9.509l.016-58.863zM1.61 19.297l.047 42.383l50.791-.289l-.023-49.016z'/%3E%3C/svg%3E");
}
.heroicons--wrench-screwdriver-solid {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='%23000'%3E%3Cpath fill-rule='evenodd' d='M12 6.75a5.25 5.25 0 0 1 6.775-5.025a.75.75 0 0 1 .313 1.248l-3.32 3.319a2.25 2.25 0 0 0 1.941 1.939l3.318-3.319a.75.75 0 0 1 1.248.313a5.25 5.25 0 0 1-5.472 6.756c-1.018-.086-1.87.1-2.309.634L7.344 21.3A3.298 3.298 0 1 1 2.7 16.657l8.684-7.151c.533-.44.72-1.291.634-2.309A5 5 0 0 1 12 6.75M4.117 19.125a.75.75 0 0 1 .75-.75h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75h-.008a.75.75 0 0 1-.75-.75z' clip-rule='evenodd'/%3E%3Cpath d='m10.076 8.64l-2.201-2.2V4.874a.75.75 0 0 0-.364-.643l-3.75-2.25a.75.75 0 0 0-.916.113l-.75.75a.75.75 0 0 0-.113.916l2.25 3.75a.75.75 0 0 0 .643.364h1.564l2.062 2.062z'/%3E%3Cpath fill-rule='evenodd' d='m12.556 17.329l4.183 4.182a3.375 3.375 0 0 0 4.773-4.773l-3.306-3.305a6.8 6.8 0 0 1-1.53.043c-.394-.034-.682-.006-.867.042a.6.6 0 0 0-.167.063zm3.414-1.36a.75.75 0 0 1 1.06 0l1.875 1.876a.75.75 0 1 1-1.06 1.06L15.97 17.03a.75.75 0 0 1 0-1.06' clip-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.bitcoin-icons--two-keys-filled {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='%23000' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M20.854 10.308c.6 2.411-.923 4.867-3.403 5.486q-.466.115-.928.137l-2.666 4.298a2 2 0 0 1-1.216.887l-1.236.308a1 1 0 0 1-1.212-.729l-.28-1.12a2 2 0 0 1 .241-1.538l2.445-3.943a4.4 4.4 0 0 1-.728-1.547c-.6-2.411.922-4.867 3.403-5.486s4.978.835 5.58 3.247m-3.872 1.48c.552-.137.89-.683.756-1.219c-.133-.536-.688-.859-1.24-.721c-.55.137-.89.683-.756 1.219s.69.859 1.24.721'/%3E%3Cpath d='M11.251 12.187c2.48-.619 4.004-3.075 3.403-5.486c-.601-2.412-3.1-3.865-5.58-3.247S5.07 6.529 5.672 8.94a4.4 4.4 0 0 0 .728 1.547l-2.445 3.942a2 2 0 0 0-.241 1.538l.28 1.121a1 1 0 0 0 1.211.728l1.236-.308a2 2 0 0 0 1.216-.886l2.666-4.298q.462-.022.928-.137m.288-5.225c.133.536-.205 1.082-.756 1.219s-1.106-.186-1.24-.721c-.134-.536.205-1.082.756-1.22s1.106.186 1.24.722'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.simple-icons--7zip {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M0 18.858h24V8.181H10.717V5.142H0ZM2.021 7.271h6.657v1.994c-1.74 2.09-2.84 4.502-2.948 7.404H3.477c.09-2.501.353-4.954 2.283-6.994l.033-.033H2.021Zm8.45 1.253h13.215v10.143H10.47Zm6.01 1.213v6.871h1.482v-6.87Zm2.755.043v6.912h1.616v-2.42h1.029c.43-.001.754-.29.969-.716c.427-.848.429-2.257-.024-3.092c-.227-.419-.571-.697-1.033-.684zm-7.924.002v1.596h2.217l-2.304 3.736v1.54h4.287V15.1h-2.698l2.786-3.909v-1.41Zm9.452 1.512h.595c.164-.006.287.081.371.217c.17.273.172.736.004.99a.36.36 0 0 1-.373.176l-.55.047z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.fa6-brands--chrome {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M0 256c0-46.6 12.47-90.4 34.27-128.9L144.1 318.3C166 357.5 207.9 384 256 384c14.3 0 27.1-2.3 40.8-6.6l-76.3 132.2C95.9 492.3 0 385.3 0 256m365.1 65.6c12.3-19.2 18.9-42.5 18.9-65.6c0-38.2-16.8-72.5-43.3-96h152.7c12 29.6 18.6 62.1 18.6 96c0 141.4-114.6 255.1-256 256zM477.8 128H256c-62.9 0-113.7 44.1-125.5 102.7L54.19 98.47C101 38.53 174 0 256 0c94.8 0 177.5 51.48 221.8 128M168 256c0-48.6 39.4-88 88-88s88 39.4 88 88s-39.4 88-88 88s-88-39.4-88-88'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.lineicons--ios {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M20.64 5.396c-.169-.444-.574-1.069-1.148-1.513c-.337-.253-.72-.5-1.26-.658C17.649 3.056 16.928 3 16.05 3h-8.1c-.883 0-1.598.056-2.177.23c-.54.164-.94.406-1.265.659a3.8 3.8 0 0 0-1.154 1.513C3.006 6.296 3 7.309 3 7.95v8.1c0 .641.006 1.654.354 2.554a3.83 3.83 0 0 0 2.42 2.171c.579.169 1.293.225 2.176.225h8.1c.883 0 1.598-.056 2.177-.23c.54-.164.94-.406 1.265-.659a3.8 3.8 0 0 0 1.154-1.513c.354-.894.354-1.912.354-2.554v-8.1c0-.64-.006-1.653-.354-2.553zM6.566 15.375h-.67v-4h.67zm-.332-4.674a.415.415 0 1 1 0-.832a.42.42 0 0 1 .422.415a.424.424 0 0 1-.422.417m4.022 4.775c-1.766 0-2.88-1.26-2.88-3.268s1.114-3.274 2.88-3.274c1.767 0 2.88 1.266 2.88 3.274s-1.113 3.268-2.88 3.268m5.828 0c-1.328 0-2.261-.731-2.323-1.822h.602c.067.76.781 1.277 1.777 1.277c.95 0 1.631-.518 1.631-1.232c0-.59-.41-.945-1.35-1.181l-.787-.203c-1.176-.298-1.699-.793-1.699-1.631c0-1.024.922-1.755 2.171-1.755c1.238 0 2.138.731 2.177 1.738h-.602c-.056-.714-.692-1.193-1.592-1.193c-.877 0-1.53.49-1.53 1.187c0 .546.394.867 1.328 1.103l.686.174c1.277.32 1.811.81 1.811 1.693c0 1.114-.894 1.845-2.3 1.845m-3.56-3.268c0 1.66-.878 2.711-2.268 2.711s-2.261-1.052-2.261-2.71c0-1.666.872-2.718 2.261-2.718s2.267 1.052 2.267 2.717'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.iconoir--ios-settings {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath d='M12 18a6 6 0 1 0 0-12a6 6 0 0 0 0 12m6-6h-6M9 6.803L12 12m0 0l-3 5.197'/%3E%3Cpath stroke-dasharray='1 3' d='M12 19a7 7 0 1 0 0-14a7 7 0 0 0 0 14'/%3E%3Cpath d='M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10'/%3E%3Cpath d='M12 15a3 3 0 1 0 0-6a3 3 0 0 0 0 6'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.simple-icons--falcon {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M15.929 19.487c0 .035.264.2.592.364c1.578.835 2.55 1.742 2.914 2.75c.164.435.171.592.028.92c-.178.436-.207.429.95.393c1.043-.035 1.657-.15 1.657-.314c0-.078-.857-.885-1.171-1.093a1.4 1.4 0 0 1-.186-.15a8 8 0 0 0-.321-.257a12 12 0 0 1-.372-.278a6 6 0 0 0-.25-.193l-.45-.35a5 5 0 0 0-.535-.357c-.328-.178-.528-.307-.571-.357c-.05-.057-1.036-.593-1.5-.814c-.214-.1-.45-.214-.514-.25c-.157-.086-.271-.093-.271-.014m-5.75-1.536a5 5 0 0 0-.056.415c-.043.5-.379 1.164-.764 1.52c-.465.436-.75.572-.993.48a3.4 3.4 0 0 0-.628-.115c-.357-.043-.486-.022-.657.078c-.186.108-.222.179-.222.4c0 .315-.007.307.257.165a1 1 0 0 1 .3-.108c.15 0 .093.143-.093.229c-.207.093-.264.271-.278.828c-.007.422.121.586.236.286c.035-.093.17-.221.3-.293A1.4 1.4 0 0 0 8 21.43c.186-.314.286-.364.286-.15c0 .457.236.479.436.036c.121-.243.186-.307.271-.271c.236.1.515.114.615.028s.092-.114-.043-.257c-.086-.093-.15-.179-.129-.193c.157-.114.5-.193.85-.193c.628 0 .714-.107.714-.914c0-.82-.214-1.406-.564-1.556c-.179-.072-.236-.079-.257-.008zM22.535 1.062a1.2 1.2 0 0 0-.193.315c-.414.885-1.785 1.72-3.949 2.392c-.193.064-.535.164-.75.236c-.214.064-.635.2-.928.285c-3.635 1.107-4.27 1.678-5.57 4.963c-.586 1.472-.893 1.964-1.5 2.364c-.507.343-.92.457-2.07.6c-1.829.221-2.536.436-3.107.943c-.35.3-.464.614-.464 1.242c0 .286-.029.536-.057.557c-.036.022-.1.214-.15.436c-.072.3-.072.45-.007.643c.1.292.378.535.628.535c.178 0 .186-.05.05-.371q-.045-.117.136-.307c.157-.157.235-.179.72-.179c.558 0 .744-.057 1.008-.3c.15-.135.157-.135.357.086c.421.464 1.52 1.121 2.892 1.735c.65.293 1.057.643 1.364 1.186c.207.357.236.457.236.97c0 .836-.3 1.408-.886 1.68c-.1.05-.243.113-.307.15c-.071.035-.336.063-.593.063H8.93l-.15.336a8 8 0 0 1-.25.528c-.078.158-.078.208 0 .322c.093.121.122.107.464-.243c.358-.364.579-.471.579-.271c0 .057-.129.2-.279.321c-.35.278-.4.478-.235.95c.135.385.314.5.357.235c.014-.078.121-.235.235-.35c.115-.107.208-.242.208-.292s.05-.129.107-.179c.157-.128.221.1.121.457c-.064.243-.057.314.036.414c.071.079.093.186.064.307c-.029.129-.014.179.05.179c.1 0 .336-.221.336-.314c0-.029.064-.15.15-.264c.15-.215.157-.258.021-1.014c-.021-.143-.014-.265.014-.265c.15 0 .664.329.693.443c.05.186.264.079.264-.136a.8.8 0 0 0-.428-.678c-.236-.1-.279-.257-.086-.314c.45-.143.871-.4 1.25-.779c.457-.442.535-.535.828-.964c.407-.592.786-.857 1.221-.857c.6 0 2.485.843 3.942 1.764c.679.429 2.007 1.357 2.228 1.557c.043.043.286.221.543.407c.257.179.7.521.986.764c.285.236.542.436.57.436c.236 0 .315-.614.108-.8a5 5 0 0 0-.557-.343c-.521-.293-1.528-.971-1.964-1.335c-.985-.807-2.242-2.385-3.078-3.864a10 10 0 0 1-.278-.485c-.6-1.05-1.743-2.385-2.05-2.385c-.121 0-.121-.008.072-.929c.057-.293.142-.792.185-1.107c.129-.87.314-1.863.45-2.356c.386-1.45 1.207-2.457 2.7-3.3c2.092-1.192 2.927-1.928 3.527-3.12c.322-.636.386-.793.579-1.507c.1-.364.221-1.25.171-1.25a.4.4 0 0 0-.1.057zM3.496.484C1.839 2.198 1.003 3.926 1.003 5.647c0 .393.029.729.072.75s.071.114.071.2c0 .2.172.693.4 1.157c.3.621.736 1.057 1.921 1.914c.929.67 1.443 1.428 1.614 2.385l.093.514l.257-.107c.65-.279 1.15-.379 2.642-.536c.957-.1 1.328-.243 1.771-.678c.629-.629.329-1.036-1.635-2.2c-2.114-1.257-2.87-1.842-3.692-2.863c-.657-.822-.993-1.5-1.157-2.343c-.157-.785.057-2.028.536-3.142c.135-.328.25-.614.25-.642c0-.15-.236.007-.65.428'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.simple-icons--autocad {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M3.867 1.053v.015L0 3.385v17.914l3.897-2.332h18.34V2.33c0-.702-.578-1.277-1.28-1.277zm7.506 4.01h3.3l2.985 9.95H15.07l-.568-2.189h-2.984l-.57 2.162H8.53zm11.863.027v14.877H4.172l-2.068 1.238v.465c0 .702.579 1.277 1.28 1.277H24V5.09zm-10.27 1.592l-.993 4.324h2.046z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.mynaui--letter-m-square-solid {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M9.367 2.25h5.266c1.092 0 1.958 0 2.655.057c.714.058 1.317.18 1.869.46a4.75 4.75 0 0 1 2.075 2.077c.281.55.403 1.154.461 1.868c.057.697.057 1.563.057 2.655v5.266c0 1.092 0 1.958-.057 2.655c-.058.714-.18 1.317-.46 1.869a4.75 4.75 0 0 1-2.076 2.075c-.552.281-1.155.403-1.869.461c-.697.057-1.563.057-2.655.057H9.367c-1.092 0-1.958 0-2.655-.057c-.714-.058-1.317-.18-1.868-.46a4.75 4.75 0 0 1-2.076-2.076c-.281-.552-.403-1.155-.461-1.869c-.057-.697-.057-1.563-.057-2.655V9.367c0-1.092 0-1.958.057-2.655c.058-.714.18-1.317.46-1.868a4.75 4.75 0 0 1 2.077-2.076c.55-.281 1.154-.403 1.868-.461c.697-.057 1.563-.057 2.655-.057m.233 5.3A.75.75 0 0 0 8.25 8v8a.75.75 0 0 0 1.5 0v-5.75l1.65 2.2a.75.75 0 0 0 1.2 0l1.65-2.2V16a.75.75 0 0 0 1.5 0V8a.75.75 0 0 0-1.35-.45l-2.4 3.2z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.mdi--harddisk {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6 2h12a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2m6 2a6 6 0 0 0-6 6c0 3.31 2.69 6 6.1 6l-.88-2.23a1.01 1.01 0 0 1 .37-1.37l.86-.5a1.01 1.01 0 0 1 1.37.37l1.92 2.42A5.98 5.98 0 0 0 18 10a6 6 0 0 0-6-6m0 5a1 1 0 0 1 1 1a1 1 0 0 1-1 1a1 1 0 0 1-1-1a1 1 0 0 1 1-1m-5 9a1 1 0 0 0-1 1a1 1 0 0 0 1 1a1 1 0 0 0 1-1a1 1 0 0 0-1-1m5.09-4.73l2.49 6.31l2.59-1.5l-4.22-5.31z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.fluent--cd-16-filled {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M8 6a2 2 0 1 1 .001 3.999A2 2 0 0 1 8 6m0 3a1 1 0 1 1 0-2a1 1 0 0 1 0 2m0-7a6 6 0 1 0 0 12A6 6 0 0 0 8 2'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.arcticons--localsend {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Ccircle cx='24' cy='24' r='11.6' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M3.3 18.1C2.8 20 2.5 22 2.5 24s.3 4 .8 5.8h0c.3 0 2.2-.6 2.3-2.6c.1-.6 0-2.4 0-3.2c-.1-.9.1-2.5 0-3.1c-.2-2.1-2-2.8-2.3-2.8m41.4.1c.5 1.9.8 3.8.8 5.9c0 2-.3 4-.8 5.8h0c-.3 0-2.2-.6-2.3-2.6c-.1-.6 0-2.4 0-3.2c.1-.9-.1-2.5 0-3.1c.2-2.2 2-2.8 2.3-2.8M29.8 3.3C28 2.8 26 2.5 24 2.5s-4 .3-5.8.8h0c0 .3.6 2.2 2.6 2.3c.6.1 2.4 0 3.2 0c.9-.1 2.5.1 3.1 0c2.1-.2 2.7-2 2.7-2.3m0 41.4c-1.9.5-3.8.8-5.9.8c-2 0-4-.3-5.8-.8h0c0-.3.6-2.2 2.6-2.3c.6-.1 2.4 0 3.2 0c.9.1 2.5-.1 3.1 0c2.2.2 2.8 2 2.8 2.3M13.5 5.2c-1.7.9-3.3 2.1-4.7 3.6c-1.4 1.4-2.6 3-3.5 4.7h0c.2.2 2 1.1 3.5-.2c.5-.4 1.7-1.6 2.3-2.3c.6-.6 1.8-1.7 2.2-2.2c1.3-1.6.4-3.3.2-3.6m29.2 29.3c-.9 1.7-2.1 3.3-3.6 4.7c-1.4 1.4-3 2.6-4.7 3.5h0c-.2-.2-1.1-2 .2-3.5c.4-.5 1.6-1.7 2.3-2.3c.6-.6 1.7-1.8 2.2-2.2c1.7-1.2 3.4-.4 3.6-.2M34.5 5.2c1.7.9 3.3 2.1 4.7 3.6c1.4 1.4 2.6 3 3.5 4.7h0c-.2.2-2 1.1-3.5-.2c-.5-.4-1.7-1.6-2.3-2.3c-.6-.6-1.8-1.7-2.2-2.2c-1.3-1.6-.4-3.3-.2-3.6M5.3 34.5c.9 1.7 2.1 3.3 3.6 4.7c1.4 1.4 3 2.6 4.7 3.5h0c.2-.2 1.1-2-.2-3.5c-.4-.5-1.6-1.7-2.3-2.3c-.6-.6-1.7-1.8-2.2-2.2c-1.7-1.3-3.4-.4-3.6-.2'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.mdi--youtube {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m10 15l5.19-3L10 9zm11.56-7.83c.13.47.22 1.1.28 1.9c.07.8.1 1.49.1 2.09L22 12c0 2.19-.16 3.8-.44 4.83c-.25.9-.83 1.48-1.73 1.73c-.47.13-1.33.22-2.65.28c-1.3.07-2.49.1-3.59.1L12 19c-4.19 0-6.8-.16-7.83-.44c-.9-.25-1.48-.83-1.73-1.73c-.13-.47-.22-1.1-.28-1.9c-.07-.8-.1-1.49-.1-2.09L2 12c0-2.19.16-3.8.44-4.83c.25-.9.83-1.48 1.73-1.73c.47-.13 1.33-.22 2.65-.28c1.3-.07 2.49-.1 3.59-.1L12 5c4.19 0 6.8.16 7.83.44c.9.25 1.48.83 1.73 1.73'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.arcticons--pixellab {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M10.46 43.5v-39m7.74 39v-39m0 23.4h7.64a11.7 11.7 0 0 0 0-23.4H10.46'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.arcticons--appcloner {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M5.5 33.91H26a8.36 8.36 0 0 0 7.88-7.85v-12m0-2V5.5'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M42.5 14.09H22a8.36 8.36 0 0 0-7.88 7.85v12m0 2v6.56m2.48-25.9l14.76 14.76M14.09 24L24 33.91m0-19.82L33.91 24'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.arcticons--hdo-box {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M9.5 5.5h29a4 4 0 0 1 4 4v29a4 4 0 0 1-4 4h-29a4 4 0 0 1-4-4v-29a4 4 0 0 1 4-4m1.85 10.2v16m0-7.32h15.64m0-11.48v22.2m2.84-18.72v16m0-16l8.82 8m-8.82 8l8.82-8'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.arcticons--caller-id {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M19.26 12.482a24 24 0 0 1-.884-4.394C18.219 6.604 16.924 5.5 15.43 5.5H8.507c-1.78 0-3.152 1.538-2.995 3.311C7.091 26.677 21.322 40.91 39.19 42.488c1.773.157 3.31-1.21 3.31-2.99v-6.173c0-2.253-1.103-3.543-2.587-3.7a24 24 0 0 1-4.394-.884a4.91 4.91 0 0 0-4.88 1.247l-2.963 2.963A31.34 31.34 0 0 1 15.05 20.325l2.963-2.963a4.91 4.91 0 0 0 1.247-4.88M31.383 5.5v11.023m3.814 0V5.5h2.48a4.823 4.823 0 0 1 4.823 4.823V11.7a4.823 4.823 0 0 1-4.823 4.822z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.arcticons--yacine-tv {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='m33.868 23.799l-4.353 12.76l-4.353-12.76m-6.677 12.76v-12.76m-4.353 0h8.706M15.469 4.5l9.702 10.44m-6.023 0l10.057.001l5.274-5.537M8.66 16.857h30.68c1.19 0 2.147.958 2.147 2.147v22.35a2.14 2.14 0 0 1-2.136 2.146H8.66a2.14 2.14 0 0 1-2.147-2.137v-22.36c0-1.188.957-2.146 2.147-2.146'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.arcticons--apkeditor {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M20.078 14.34a1.37 1.37 0 1 1 1.36-1.316a1.37 1.37 0 0 1-1.36 1.315m7.934.001a1.37 1.37 0 1 1 1.359-1.316a1.37 1.37 0 0 1-1.36 1.315'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M14.261 17.894v-2.229a9.717 9.717 0 0 1 9.762-9.716h0a9.717 9.717 0 0 1 9.716 9.716v2.229M15.643 4.5l2.452 3.009M32.424 4.5l-2.518 3.009'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M9.236 15.086V35.7a3.134 3.134 0 0 0 2.786 2.786h22.843V23.443h1.114a3.134 3.134 0 0 0 2.786-2.786a3.134 3.134 0 0 0-2.786-2.786H12.022a3.134 3.134 0 0 1-2.786-2.785a3.134 3.134 0 0 1 2.786-2.786h2.73'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M34.865 38.486V43.5h1.114a3.134 3.134 0 0 0 2.786-2.786V20.657'/%3E%3Ccircle cx='24' cy='26.229' r='2.229' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M24 23.68v-2.164m6.686 20.87L24 28.457l-6.686 13.929'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.emojione-monotone--blue-book {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23000' d='M33.624 6L6.907 13.371h-.036c-.444 0-4.871.124-4.871 5.074c0 2.151.954 3.754.954 3.754l20.354 34.042c1.946 3.1 6.079 1.159 6.079 1.159l31.211-15.205l-1.168-1.185c-.275-1.423-.435-4.058 1.497-6.02c.043-.044.051-.104.074-.159L62 34.43zm.829 6.492l5.463 5.947l-20.391 7.467l-4.816-7.576zM22.586 51.138L4.682 21.19C4.674 21.179 4 19.981 4 18.445c0-1.948.954-2.689 1.887-2.948L26.36 47.433c-1.541.667-3.263 2.191-3.774 3.705m35.826-12.997c-.065.46-.098.908-.091 1.328l-20.489 9.725l20.562-8.726c.02.16.038.319.063.463L32.192 53.617l26.472-11.741l.016.063l-29.293 14.013c-.014.009-1.351.72-2.691.72c-1.324 0-2.149-.68-2.525-2.078c-.967-3.592 4.527-5.628 4.61-5.658l30.383-13.145c-.218.4-.369.808-.495 1.213l-19.287 9.079z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.arcticons--cube-acr {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M7.03 14.23L24 24.03l16.86-9.73l-16.97-9.8Z'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M7.03 33.7L24 43.5V24.03l-16.97-9.8ZM24 43.5l16.86-9.73V14.3L24 24.03Z'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M11.347 27.33c.433-.194 2.06-.92 2.211-.979c.198-.12.26-.404.162-.75q-.201-.989-.31-1.941a1.2 1.2 0 0 0-.624-.858l-.019-.009l-2.374-1.37c-.205-.1-.365-.027-.379.17a14.7 14.7 0 0 0 1.287 5.63h0l.01.023zh.002a22.6 22.6 0 0 0 3.634 5.723l-.004.001l.122.139l.004.004h0a19.6 19.6 0 0 0 4.837 4.056c.205.104.37.039.389-.155v-2.376a1.1 1.1 0 0 0-.476-.916l-.019-.013q-.888-.621-1.76-1.326a.99.99 0 0 0-.844-.325c-.146.068-1.808.734-2.253.913m17.849-9.458c1.064-.28 1.961.538 2.004 1.826h0l.094 2.883a2.86 2.86 0 0 1-1.85 2.84h0c-1.064.28-1.96-.539-2.003-1.827v0l-.095-2.883a2.86 2.86 0 0 1 1.85-2.839'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M29.765 30.522a2.853 2.853 0 0 0 4.166 2.047a4.74 4.74 0 0 0 2.42-3.806m-2.854 3.987v2.605m-3.625 1.95l7.007-3.768'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.ph--cube-fill {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23000' d='m223.68 66.15l-88-48.15a15.88 15.88 0 0 0-15.36 0l-88 48.17a16 16 0 0 0-8.32 14v95.64a16 16 0 0 0 8.32 14l88 48.17a15.88 15.88 0 0 0 15.36 0l88-48.17a16 16 0 0 0 8.32-14V80.18a16 16 0 0 0-8.32-14.03M128 120L47.65 76L128 32l80.35 44Zm8 99.64v-85.81l80-43.78v85.76Z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.arcticons--seal {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M14.392 18.372c-.574-1.234-.99-2.013.77-3.558c.85-10.428 14.722-14.074 18.849-.48a4.5 4.5 0 0 0 .131 1.77C37.216 21.893 38 30.26 37.57 34.816c1.064 2.146 2.238 3.142 3.558 2.597c.728 1.317 2.602 4.23-.096 4.712c-9.003.873-8.526.023-9.424-.577c-1.572 1.425-13.656.577-20.484.865c-1.364.005-3.066-.803-2.885-2.308c-2.748-1.52-4.286-10.37.9-9.294c.374-4.734 1.325-7.83 5.255-12.44Z'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M18.01 42.373c3.362-2.703 3.456-5.657 3.629-8.282M8.237 40.106c.63-4.43 4.859-1.138 6.873-6.15'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M9.138 30.812a10.15 10.15 0 0 0 1.926 6.34m20.542 4.397a11.23 11.23 0 0 0 5.963-6.732M22.08 12.638a.76.76 0 0 1-1.142-.105a.994.994 0 0 1 .379-1.223a.76.76 0 0 1 1.143.103a.99.99 0 0 1-.377 1.223m6.947.082a.91.91 0 0 1-1.13-.35a.708.708 0 0 1 .118-1.06a.91.91 0 0 1 1.13.35a.708.708 0 0 1-.117 1.059m-3.868 3.179l-.723-1.142l-.627-1.198l1.35-.055l1.351.055l-.627 1.198Z'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='m25.163 15.847l-.024 1.106l-1.395.89m1.395-.889l1.594.883m-3.878-8.793l1.033 1.13m2.746.004l1.01-.89'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.arcticons--mt-manager {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M4.5 11.5a3 3 0 0 1 3-3h8.718a4 4 0 0 1 2.325.745l4.914 3.51a4 4 0 0 0 2.325.745H40.5a3 3 0 0 1 3 3v20a3 3 0 0 1-3 3h-33a3 3 0 0 1-3-3z'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M12.411 32.187V20.2l6 12l6-11.982V32.2m3.228-12h7.95m-3.975 12v-12'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.uiw--android {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M12.735 1.828L13.6.254a.172.172 0 0 0-.3-.164l-.874 1.59a6 6 0 0 0-2.428-.508c-.869 0-1.69.181-2.424.506L6.698.09a.17.17 0 0 0-.232-.069a.17.17 0 0 0-.069.232l.866 1.572c-1.7.874-2.85 2.537-2.849 4.447l11.166-.001c0-1.91-1.146-3.57-2.845-4.444m-5.278 2.43a.467.467 0 1 1 .001-.934a.467.467 0 0 1 0 .935M15.542 6.7l.002 8.012c0 .481-.262.897-.648 1.127a1.3 1.3 0 0 1-.675.19l-.904.001v2.734a1.237 1.237 0 0 1-1.489 1.21a1.24 1.24 0 0 1-.99-1.209V16.03H9.163v2.735A1.237 1.237 0 0 1 7.925 20a1.24 1.24 0 0 1-1.238-1.235V16.03h-.901c-.521 0-.967-.3-1.182-.736a1.3 1.3 0 0 1-.141-.581l-.002-8.01zM2.74 6.47c.684 0 1.24.553 1.24 1.234v5.17q0 .127-.025.249a1.238 1.238 0 0 1-1.897.78a1.23 1.23 0 0 1-.557-1.03L1.5 7.704c0-.68.555-1.234 1.24-1.234m14.52-.001c.684 0 1.24.552 1.24 1.234v5.169c0 .683-.555 1.235-1.239 1.235c-.685 0-1.24-.552-1.24-1.235v-5.17c0-.682.554-1.235 1.238-1.234M12.54 3.325a.467.467 0 1 1 0 .933a.467.467 0 1 1 0-.933'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.simple-icons--avast {
  display: inline-block;
  width: 70%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M10.294 2.991a3.03 3.03 0 0 1 4.45 1.204l7.002 14.804A11.94 11.94 0 0 0 24 12.086C24.046 5.456 18.71.047 12.083 0C5.456-.046.047 5.29 0 11.917a11.94 11.94 0 0 0 2.222 7.034l.281-.061l4.57-1.008c.128-.029.196.145.083.213l-3.782 2.242A11.96 11.96 0 0 0 11.917 24a11.97 11.97 0 0 0 9.344-4.371L9.81 7.573a3.027 3.027 0 0 1 .484-4.582m2.15 13.609l-7.374.64a1.302 1.302 0 1 1 .187-2.567l7.203 1.698c.129.03.114.217-.017.229M9.03 10.116l8.94 7.232c.102.083.01.245-.113.198L7.104 13.471a1.96 1.96 0 1 1 1.926-3.355'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
} 
.material-symbols--mouse {
  display: inline-block;
  width: 100%;
  height: 100%;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 22q-2.925 0-4.962-2.037T5 15v-4h14v4q0 2.925-2.037 4.963T12 22M5 9q0-2.625 1.7-4.587T11 2.074V9zm8 0V2.075q2.6.375 4.3 2.338T19 9z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.login__check {
  margin-bottom: 1rem;
  font-size: var(--small-font-size);
}

.login__check-box {
  column-gap: .5rem;
}

.login__check-input {
  width: 1rem;
  height: 1rem;
  accent-color: var(--white-color);
}

.login__forgot {
  color: var(--white-color);
}

.login__forgot:hover {
  text-decoration: underline;
}

.login__button {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--white-color);
  border-radius: 4rem;
  color: var(--black-color);
  font-weight: 500;
  cursor: pointer;
}

.login__register {
  font-size: var(--small-font-size);
  text-align: center;
}

.login__register a {
  color: var(--white-color);
  font-weight: 500;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400');

html, body {
    width: 100%;
    height: 100%;
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}

body {
    background-color: #36BEA6;
}

.share__icon {
    width: 32px;
    height: 32px;
    fill: #fff;
    display: inline-block;
    vertical-align: top;
    margin-right: 3px;
}
.share__icon:last-of-type{
   margin-right: 0px;
}

.share-button {
  cursor: pointer;
    display: inline-block;
    height:42px;
    position: absolute;
    top: 40%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
   -moz-transform: translateY(-50%) translateX(-50%);
    left: 10%;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 200px;
  
}

.share-button__back {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 14px rgba(0,0,0,0.1) inset;
}

.share-button__front {
    width: 100%;
    height: 100%;
    background-color: #642f3f;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center top;
    -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}



.share-button__text {
    margin: 0;
    line-height: 42px;
    font-size: 16px;
    text-align: center;
    color: #b6b6b6;
}

.share__link {
    position: relative;
    top: 40px;
    display: inline-block;
    opacity: 0;
  -webkit-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  }

.share-button:hover .share-button__front {
    transform: rotateX(90deg);
}

.share-button:hover .share__link {
    top:0;
  opacity: 1;
}

.share-button:hover .share__link:nth-of-type(1){
  transition-delay:0.1s;
}

.share-button:hover .share__link:nth-of-type(2){
  transition-delay:0.2s;
}

.share-button:hover .share__link:nth-of-type(3){
  transition-delay:0.3s;
}

.share-button:hover .share__link:nth-of-type(4){
  transition-delay:0.4s;
}

.login__register a:hover {
  text-decoration: underline;
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .login {
    justify-content: center;
  }
  .login__form {
    width: 420px;
    height: 420px;
    padding-inline: 0rem;
  }
  .login__title {
    margin-bottom: 2rem;
  }
}
